# (default Go .gitignore template from GitHub, minus some stuff)
# Binaries for programs and plugins
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Code coverage profiles and other test artifacts
*.out
coverage.*
*.coverprofile
profile.cov

# Go workspace file
go.work
go.work.sum

# env file
.env

# Taylor's additions
data
update-data/*.json
update-data/*.csv
go.sum
whencaniuse
datastar.js
caniuse-data.json

**/paths.sh
