@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');

:root {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 12pt;

  --col-brand: #88d;
  --col-brand-hover:      hsl(from var(--col-brand) h s calc(l + 12));
  --col-bg: #222120;
  --col-text: #ccc;
  --col-form-face-dark:   hsl(from var(--col-bg) h s calc(l - 3));
  --col-form-face:        hsl(from var(--col-bg) h s calc(l + 6));
  --col-form-face-trim:   hsl(from var(--col-bg) h s calc(l + 9));
  --col-form-face-hilite: hsl(from var(--col-bg) h s calc(l + 12));
  --col-form-outline:     white;

  --box-shadow-form-face-trim: inset 0 0 0 2px var(--col-form-face-trim);
  --box-shadow-card: 0 4px 8px #00000040;
}

body {
  background-color: var(--col-bg);
  margin: 0;
  display: flex;
  color: var(--col-text);

  padding: 16px;
}
main {
  margin: 64px auto 0 auto;
  width: 60%;
}
ul {
  list-style: none;
  padding-inline-start: 0;
}
a {
  text-decoration: none;
  transition: color .2s;
  &:not(:visited) {
    color: var(--col-brand);
    &:hover {
      color: var(--col-brand-hover);
    }
  }
}
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}
code {
  background-color: var(--col-form-face-dark);
  padding-inline: 6px;
  border-radius: 4px;
}
::selection {
  background-color: #777;
}

input {
  font-family: inherit;
  border: none;
  background-color: var(--col-form-face);
  color: white;
  box-shadow: var(--box-shadow-form-face-trim);
  outline: 2px solid rgb(from var(--col-form-outline) r g b / 0);
  transition: all 0.2s;

  &:hover:not(:focus) {
    box-shadow: none;
    background-color: var(--col-form-face-hilite);
  }
  &:focus-visible {
    outline-color: var(--col-form-outline);
  }
}

label[for="feature-search"] {
  display: block;
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: .5em;
}
input#feature-search {
  font-size: 1.5rem;
  display: block;
  padding: 16px;
  border-radius: 4px;
  width: 100%;
  &::-webkit-search-cancel-button {
    display: none; /* TODO style this thing white or something if possible (not sure it is) */
  }

  box-shadow: var(--box-shadow-card), var(--box-shadow-form-face-trim);
  &:hover:not(:focus) {
    box-shadow: var(--box-shadow-card);
  }
} 

ul#feature-search-results {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(256px, 1fr));
  gap: 8px;
  
  & > li {
    container-type: inline-size;

    display: flex;
    flex-direction: column;
    gap: 12px;

    background-color: var(--col-form-face);
    cursor: pointer;
    padding: 16px;
    border-radius: 4px;

    transition: all .2s;
    box-shadow: var(--box-shadow-card), var(--box-shadow-form-face-trim);
    opacity: .8;
    &:hover {
      background-color: var(--col-form-face-hilite);
      box-shadow: var(--box-shadow-card);
      opacity: 1;
    }
  }
  hgroup {
    width: 100%;
    box-sizing: border-box;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    @container (max-width: 350px) {
      display: initial;
    }
    & > h1 {
      font-size: 1.5rem;
      margin: 0;
    }
    code {
      background-color: unset;
      padding: unset;
      border-radius: unset;
      font-style: italic;
      color: #ffffff30;
    }
  }
}

@media (max-width: 700px) {
  main {
    width: 100%;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --col-bg: white;
    --col-text: #333;
    --col-form-face:        hsl(from var(--col-bg) h s calc(l - 6));
    --col-form-face-trim:   hsl(from var(--col-bg) h s calc(l - 9));
    --col-form-face-hilite: hsl(from var(--col-bg) h s calc(l - 12));
    --col-form-outline:     var(--col-brand);
  }

  input {
    color: inherit;
  }
}