{{- /*
Expected data shape: `Feature`
*/ -}}
<article id="feature-content">
  <div class="split-items">
    <h1>{{ .Title }}</h1>
    <p class="global-percentage"><span class="faint">Global</span> <span class="global-percentage-num">86%</span></p>
  </div>
  {{if .Description}}<p>{{ .Description }}</p>{{end}}
  <div class="split-items">
    <button class="with-icon watch-feature">Watch this feature</button>
    <p><span class="faint">Source:</span>
      {{if eq .Source 0}}
        caniuse.com
      {{else if eq .Source 1}}
        <a href="https://github.com/mdn/browser-compat-data" target="_blank">MDN</a>
      {{else}}
        the <a href="https://github.com/web-platform-dx/web-features" target="_blank">web-features</a> project
      {{end}}
    </p>
  </div>
  <article id="links">
    <h2>Resources for this feature</h2>
    <ul>
      <li><a href="https://caniuse.com/{{ .Id }}" target="_blank">"{{ .Title }}" on caniuse.com</a></li>
      {{range .Links}}
        <span class="link-separator">|</span>
        <li><a href="{{ .Href }}" target="_blank">{{ .Display }}</a></li>
      {{end}}
    </ul>
  </article>
</article>
