{{- /*
Expected data shape: `Feature`
*/ -}}
{{define "watch-dialog"}}
<dialog id="watch-dialog" closedby="any" data-ref:watch-feature-dialog>
  <form id="watch-form" data-ref:watch-feature-form>
    <div class="msg-with-input">
      <p>Notify me when {{if lt (len .Title) 50}}<span class="standout">{{ .Title }}</span>{{else}}this feature{{end}} hits</p>
      <input
        id="desired-support-threshold"
        type="number"
        value="90"
        min="0"
        max="100"
        data-bind:desired-support-threshold
        data-on:focus="el.select()"
      >
      <p>%</p>
    </div>
    <div class="controls">
      <button formmethod="dialog">Close</button>
      <button
        class="action"
        type="button"
        data-on:click="
          $watchFeatureForm.checkValidity();
          @post('/watchlist-add', {
            payload: {
              clientId: $clientId,
              index:    {{ .Index }},
              thresh:   $desiredSupportThreshold
            }
          });
          $watchFeatureDialog.close()"
        data-indicator:is-adding-to-watchlist
        data-attr:disabled="$isAddingToWatchlist"
        data-text="$isAddingToWatchlist ? 'Adding...' : 'Add to my watch list!'"
      ></button>
    </div>
  </form>
</dialog>
{{end}}
